.content {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

@media (max-width: 980px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}